@import url('https://fonts.googleapis.com/css2?family=Playfair:opsz,wght@5..1200,300&family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Playfair;
    background-color: #FEFAE0;
    color: #283618;
  
}

section{
    align-content: center;
    align-items: center;
}

.home-title{
    margin-left: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    font-size: 50px;
}

.home-content img{
    position: relative;
    left: 50rem;
    width: 30%;
    height: 100%;
}

.home-content-para{
    position: absolute;
    top:10rem;
    font-size: 25px;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 600px;
}
.home-btn{
    position: relative;
    top: -40px;
    left: 100px;
    font-family: playfair;
    font-size: 25px;
    border: solid 2px #000;
    padding: 10px;
    font-weight: 500;
    background: #fff;
}

.home-btn a{
    text-decoration: none;
    color: #000;
}

.home-btn:hover{
    background-color: black;
    color: #fff;
}

.home-btn a:hover{
    color: #fff;
}

/*------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------*/
.nav{    
    padding: 50px;
}

.nav-h a{    
    text-decoration: none;
    font-size: 30px;
    padding-left: 630px;
}

.dashboard{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    padding: 60px;
    grid-gap: 10px;  
}

.dash-title{
    text-align: center;
    align-content: center;
    
}

.dash-title h1{
    font-size: 60px;
}

.dash-title span{
    font-size: 30px;
}

.dash-title img{
    position: relative;
    top: 10px;
}

.card{
/*    background-color: #BC6C25;*/
    background-color: #283618;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}

.container{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}

.card img{
    width: 100%;
/*    height: 20%;*/
    display: block;
    border-radius: 20px 20px 0 0;
}
.det{
    padding: 20px;
}
.dbtn{
    background-color: #BC6C25;
    padding: 10px;
    margin: 20px;
    border: solid 0px;
    
}

.dbtn a{
    text-decoration: none;
    color: #FEFAE0;
    font-size: 20px;
    font-family: playfair;
    font-weight: 600;
}



.r-title{
    text-align: center;
    align-content: center;
}

.r-title h1{
    padding: 20px;
    font-size: 50px;
}

.r-title img{
    border-radius: 20px;
    width: 40%;
    height: auto;
}

.r-title .desc{
    padding: 30px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 30px;
    text-align: 
}

.recepe ul{
    text-align: center;
    font-size: 25px;
/*
    display: grid;
     grid-template-columns: auto auto;
*/
}

.recepe1 ul{
    text-align: center;
    font-size: 25px;
/*
    display: grid;
     grid-template-columns: auto auto;
*/
}

.recepe1:after {
    content: "";
    display: table;
    clear: both;
}

.recepe1 h4{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px; 
}


.recn {
    position: relative;
    float: right; 
    margin-right: 380px;

}

.recn1 {
    position: relative;
    float: right; 
    margin-right: 47rem;

}

.recn li{
    list-style: none;
}

.recn1 li{
    list-style: none;
}


.mes {
    position: relative;
    float: right;
    margin-right: 20px;
}






.recepe:after {
    content: "";
    display: table;
    clear: both;
}

.recepe h4{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px; 
}
.procedure{
    text-align: center;
}
.procedure ol{
    text-align: justify; 
    padding: 100px;
    font-size: 20px;
    
}
.procedure li{
    list-style-type: decimal;
    padding: 5px;
}

.procedure h1{
    padding-top:20px;
    padding-bottom: 20px;
}
.procedure img{
    width: 40%;
}

.bkbtn button{
    padding: 20px;
 font-size: 15px;
}
.bkbtn{
    position: relative;
    left: 35rem;
    bottom: 4rem;
   
}
.bkbtn button{
     background-color: #BC6C25;
    color: #FEFAE0;
    font-size: 20px;
}

.bkbtn button:hover{
    background-color: #283618;
    color: #BC6C25;
}

.btmpic{
    float: right;
    position: absolute;
    top: 125rem;
    right: 20px;
    padding-bottom: 40px;
}
.btmpic1{
    position: absolute;
    top: 115rem;
left: 80px;
    padding-bottom: 40px;
}

.btmpic1{
    width: 30%;
}